body {
  font-family: arial;
  background-color: black;
  border: 2px solid #ddd;
}

* {
  box-sizing: border-box;

}
.container {
  padding: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.radio{
  display: flex;
  flex-direction: row;
}


input[type=text], input[type=password],input[type=email],input[type=number] {
  width: 98%;
  padding: 15px;
  margin: 1%;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  margin: 8px;
  border: none;
  cursor: pointer;
  width: 98%;
  text-align: center;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity: 20;
}

a {
  color: dodgerblue;
}
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
